//colors
$orange: #e45028;
$yellow: #f9b43b;
$black: #2f3234;
$red: #e35028;

//breakpoints

$tablets: 768px;
$phones: 480px;

//normalize
@import './settings/normalize.scss';
@import './settings/media.scss';

//setups
@import './fonts/fonts.scss';
@import './layout/layout.scss';

//blocks
@import './blocks/header.scss';
@import './blocks/hero.scss';
@import './blocks/btn.scss';
@import './blocks/title.scss';
@import './blocks/best.scss';
@import './blocks/reviews.scss';
@import './promo/promo.scss';
@import './blocks/team.scss';
@import './blocks/accordeon-team.scss';
@import './blocks/menu.scss';
@import './blocks/accordeon-menu.scss';
@import './blocks/map.scss';
@import './blocks/footer.scss';
@import './blocks/socials.scss';

//fixed-menu
@import './fixed-menu/fixed-menu.scss';

//arrow-scroll
@import './arrow-scroll/arrow-scroll.scss'