//colors
$orange: #e45028;
$yellow: #f9b43b;
$black: #2f3234;
$red: #e35028;

//normalize
@import '../css/settings/normalize.scss';

//setups
@import 'fonts/fonts.scss';
@import 'layout/layout.scss';

//blocks
@import 'blocks/header.scss';
@import '../css/blocks/hero.scss';
@import 'blocks/btn.scss';
@import 'blocks/title.scss';
@import 'blocks/best.scss';
@import 'blocks/reviews.scss';

//fixed-menu
@import 'fixed-menu/fixed-menu.scss';