.team__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @include tablets {
    align-items: center;
  }

  @include phones {
    align-items: center;
  }
}  
  
  .team-accordeon__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

.team-accordeon__item {
  display: flex;
  flex-direction: column;
  margin-bottom: rem(18px);

  @include tablets {
    align-items: center; 
  }

  //&:last-child {
    //margin-bottom: 0;
  //}
}

.active {
    .team-accordeon__trigger {
      color: $yellow;
      &:before {
        transform: rotate(-180deg) translateY(40%);
      }
    }
  }

.team-accordeon__trigger {
  color: #fff;
  display: flex;
  align-items: center;
  margin-bottom: rem(13px);
  //font-size: rem(14px);
  @include gagalin;
  text-decoration: none;
  position: relative;
  
  @include tablets() {
    font-size: rem(25px);
  }

  &:before {
    content: "";
    display: flex;
    border: rem(5px) solid transparent;
    border-top: rem(6px) solid $yellow;
    margin-right: rem(9px);
    transform: translateY(25%);
    transition: 0.5s;
  }

  &:before {
    border-top: rem(7px) solid $yellow;
    border-left: rem(5px) solid transparent;
    border-right: rem(5px) solid transparent;
    border-bottom: rem(0px) solid transparent;
    transform: rotate(0deg);
    transition: .3s;
  }
}

.team-accordeon__content-wrap {
  overflow: hidden;
  height: 0;
  transition: height;
}

.team-accordeon__content {
  padding-left: rem(19px);
  padding-bottom: rem(18px);

  @include tablets {
    padding-left: 0;
  }
}

.user {
  display: flex;

  @include tablets {
    flex-direction: column;
    align-items: center; 
    margin-bottom: rem(10px);
  }
}

.team-accordeon__pic {
  text-align: center;

  @include tablets {
    margin-bottom: rem(15px);
    justify-content: center;
    display: flex;
  }
}

.team-accordeon__img {
  width: rem(100px);
  height: rem(100px);
  border-radius: 50%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.team-accordeon__text {
  margin-left: rem(20px);
  max-width: rem(215px);
  line-height: rem(24px);
  text-align: left;
  
  @include tablets {
    text-align: center;
    max-width: 70%;
  }
}

.team-accordeon__title {
  @include ubuntu(bold);
  font-size: rem(14px);
  color: #fff;
  margin-bottom: rem(14px);
}

.team-accordeon__text-content{
  @include ubuntu(light);
  color: #fff;
  font-size: rem(14px);
  line-height: rem(24.01px);
}
