.best {
  background: url('../img/bg-best.jpg') center center/ cover no-repeat;
}

.best__list {
  display: flex;

  @include phones {
    flex-direction: column;
  }
}

.best__item {
  flex: 1;
  margin-right: rem(36px);
  text-align: center;


  &:last-child {
    margin-right: 0;
  }
  @include phones {
    display: flex;
    flex-direction: row;
  }

}

.best__img {
  @include phones {
    margin-right: rem(10px);
  }
}

.best__icon {
  display: inline-block;
  margin-bottom: rem(33px);

  @include tablets {
    width: 90%;
    height: rem(100px);
    svg {
      max-width: 95%;
    }
  }

}

.title_color_black {
  color: $black;
}

.best__title {
  margin-bottom: rem(45px);
}

.best__desc {
  @include phones {
    text-align: left;
  }
}

.best__desc-title {
  font-family: 'Lifehack-Medium';
  color: $black;
  font-size: rem(24px);
  margin-bottom: rem(25px);

  @include phones {
    margin-bottom: 10px;
    text-align: left;
    margin-left: 25px;
  }
}

.best__desc-content {
font-family: ubuntu;
font-size: rem(14px);
font-weight: 300;

@include phones {
  text-align: left;
  margin-left: 25px;
}
}

.best__icon {
  width: rem(97px);
  height: rem(89px);
}