.section-footer {
  background-image: url('../img/footer.jpg');
  height: 60px;
  }

.footer {
  display: flex;
  justify-content: space-between;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 13px;
}

.footer__col {
  display: flex;
  height: 100%;
  color: #fff;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 18px;
}

.footer__col_right {
  
}

.footer__phone {
  color: $orange;
}





