.section-footer {
  background-image: url('../img/footer.jpg');
  height: rem(60px);
  padding: rem(4px) 0;
  }

.footer__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.footer__col {
  display: flex;
  height: 100%;
  color: #fff;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: rem(18px);
  font-weight: 300;
  font-style: normal;
  line-height: rem(24px);
  @include ubuntu;
}

.footer__phone {
  display: flex;
  align-items: center;
  line-height: rem(24px);
  font-weight: 700;
  color: $orange;
}

.phone__icon {
  fill: #e45028;
  width: rem(12px);
  height: rem(11px);
  margin-right: rem(8px);
}





