.section-footer {
  background-image: url('../img/footer.jpg');
  height: 60px;
  padding: 4px 0;
  }

.footer__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.footer__col {
  display: flex;
  height: 100%;
  color: #fff;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 18px;
  font-weight: 300;
  font-style: normal;
  line-height: 24px;
  @include ubuntu;
}

.footer__phone {
  display: flex;
  align-items: center;
  line-height: 24px;
  font-weight: 700;
  color: $orange;
}

.phone__icon {
  fill: #e45028;
  width: 12px;
  height: 11px;
  margin-right: 8px;
}





