.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: rem(13px);
  margin-bottom: rem(80px);
}

.logo {
  width: rem(92px);
  height: rem(69px);
}
.header__buttons {
  display: flex;
  align-items: center;
}

.menu__list{
  display: flex;
  align-items: center;

  @include tablets {
    display: none;
  }
}

.menu__item{
  display: flex;
  align-items: center;

  &:last-child {
    &:after{
      display: none;
    }
  }
  &:after{
    content: "";
    width: rem(6px);
    height: rem(6px);
    border-radius: 50%;
    display: inline-block;
    background: #fff;
    margin: 0 rem(10px);
  }
}

.menu__link{
  color: #fff;
  text-decoration: none;
}


