.hero {
  background: url('../../img/hero-bg.png') center center / cover no-repeat;
}

.hero__container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.hero__order-btn {
  margin-left: 15px;
  font-family: 'Ubuntu';
}

.hero__content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: .75;
}

.hero__content-desc {
  color: #fff;
  font-size: 55px;
  font-family: 'Lifehack-Medium';
  margin-left: 15px;
}

.menu__link {
  color: #fff;
  font-size: 13px;
  font-family: ubuntu;
  text-transform: uppercase;
}
