.hero {
  background: url('../img/hero-bg.jpg') center center / cover no-repeat;
}

.hero__container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.hero__order-btn {
  margin-left: rem(15px);
}

.hero__content-desc {
  color: #fff;
  font-size: rem(55px);
  font-family: 'Lifehack-Medium';
  margin-left: rem(15px);
}

.menu__link {
  color: #fff;
  font-size: rem(13px);
  font-family: ubuntu;
  text-transform: uppercase;
}
