.menu-section {
  background: url('../img/bg-menu.jpg') 50% no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: flex-end;

}

.menu__title {
  position: absolute;
  top: 10%;
  left: 10%;

  @include phones {
    left: 5%;
  }
}

.title_color_white {
  color: #fff;
}