.order {
  background: url('../img/bg-form.jpg') center center/ cover no-repeat;
}

.order-title {
margin-bottom: rem(22px);

  @include tablets {
    margin-bottom: rem(40px);
  }

  @include phones {
    margin-bottom: rem(10px);
  }
}

.form__wrap {
  display: flex;

  @include tablets {
    flex-direction: column;
    padding: 0 17.5%;
  }

  @include phones {
    padding: 0;
    padding-left: 0;
  }
}

.form__column {
  flex: 1;

  &:last-child {
    margin-right: 0;
  }
}

.form__row {
  display: flex;
  margin-bottom: rem(14px);

  @include phones {
    justify-content: center;
  }
}

.form__block {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-left: rem(20px);

  &:first-child {
    margin-right: 0;

    @include phones {
      margin-left: 0;
    }
  }
}

.form__block-title {
  color: #fff;
  @include ubuntu;
  font-weight: 300;
  line-height: rem(24px);
  margin-bottom: rem(3px);
}

.required {
  &:after {
    content: "*";
    color: #e45028;
    font-size: rem(18px);
  }
}

.form__block-input {
  border-radius: 5px;
  background: #fff;
  border: none;
  width: 100%;
  padding: rem(5px) rem(10px);
  line-height: rem(24px);
}

.comment {
  height: rem(109px);
}

.radio-btns__label {
  position: relative;
  white-space: nowrap;
  margin-right: rem(20px);
  cursor: pointer;
  display: flex;
  align-items: center;
}

.radio-btns__radio {
  position: absolute;
  top: 0;
  left: rem(-9999px);
}

.radio-btns__radio-fake {
  width: rem(16px);
  height: rem(16px);
  border-radius: 50%;
  background: #fff;
  position: relative;
  &:after {
    content: "";
    display: block;
    position: absolute;
    width: rem(0px);
    height: rem(0px);
    border-radius: 50%;
    background: $red;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: width .3s, height .3s;
  }
}

.radio-btns__radio:checked {
  &+.radio-btns__radio-fake  {
    &:after {
      width: rem(8px);
      height: rem(8px);
    }
  }
}

.order__radio_checkbox {
  .radio-btns__radio-fake {
    border-radius: rem(0px);
  }
  .radio-btns__radio {
    &+.radio-btns__radio-fake {
      &:after {
        background: transparent;
      }
    }
  }
  .radio-btns__radio:checked {
    &+.radio-btns__radio-fake {
      &:after {
        background: url("../img/form-check.png") 50% no-repeat transparent;
        background-size: contain;
        width: rem(15px);
        height: rem(15px);
      }
    }
  }
}


.order__radio-title {
  font-size: rem(14px);
  color: #fff;
  margin-left: rem(10px);
  @include ubuntu;
  font-weight: 300;
  line-height: rem(24px);
}

.order__form-buttons {
  margin-left: rem(20px);
}

.form__row-container {
  display: flex;
  margin-bottom: rem(32px);

  @include phones {
    justify-content: center;
  }
}

.form__btn-order {
  margin-right: rem(20px);
  cursor: pointer;
}

.btn-clean {
  margin-top: rem(6px);
  background-color: transparent;
  border: none;
}

