.socials__list {
  display: flex;
  width: 100%;
}

.socials__item {
  margin-left: 20px;
  &:first-child {
    margin-left: 0;
  }
}

.socials__link {
  display: flex;
  &:hover {
    svg {
      fill: rgba(#fff, 1);
    }
  }
}

.socials__icon {
fill: rgba(#fff, 0.3);
width: 20px;
height: 20px;
}



