.team {
  background: url('../img/bg-team.jpg') 50% no-repeat;
  background-size: cover;
  position: relative;

  .title {
    margin-bottom: 46px;
  }
}

.team__content {
  text-align: center;
}

.team__section {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 50%;
  background: rgba($black, .93);
  padding: 5% 2% 0 7%;
  display: flex;
  align-items: center;
  flex-direction: column;

  //@include tablets {
    //width: 100%;
    //padding: 0;
  //}
}